version: "3.8"
services:
  nginx:
    image: nginx:latest
    ports:
      - published: 80
        target: 80
        protocol: tcp
    volumes:
     - type: bind
     source: ./nginx.conf
     target: /etc/nginx/nginx.conf
    networks:
     - 'encounter-net'
    depends_on:
     - 'front-end'
  front-end:
    image: qaedd/front-end:latest
    build: ./front-end
    networks:
    - 'encounter-net'
    depends_on:
    - 'weather'
    - 'mobs'
    - 'location'
  location:
    image: qaedd/location:latest
    build: ./location
    deploy:
     replicas: 3
    networks:
      - "encounter-net"
  mobs:
    image: qaedd/mobs:latest
    build: ./mobs
    deploy:
     replicas: 3
    networks:
      - "encounter-net"
  weather:
    image: qaedd/weather:latest
    build: ./weather
    deploy:
     replicas: 3
    networks:
      - "encounter-net"
  networks:
    encounter-net:
    